{% macro navbar(type) %}
    {% if type ==  "admin" %}
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#">Ramshackle ~ Admin Panel</a>
                <button class="navbar-toggler" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    {% elif type == "transparent" %}
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">Ramshackle</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Decor</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Music</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Events</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="#">Ramshackle</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Decor</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Music</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Events</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
{% endmacro %}
