<!-- Start: Lista Productos Canito -->
    <div style="background-color: #fff;padding-top: 2em;padding-bottom: 2em;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">{{container.name}}</h2>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start"></div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <button class="btn btn-primary d-flex align-items-center align-self-center" type="button" style="height: 38px;background-color: rgb(21,221,4);">
                        Add Product&nbsp;<i class="fa fa-plus-circle"></i>
                    </button>
                    <button class="btn btn-primary d-flex align-items-center align-self-center" type="button" style="height: 38px;background-color: rgb(21,221,4);">
                        Add Subcategory&nbsp;<i class="fa fa-plus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Start: Data Table -->
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Object ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.name }}</td>
                                <td style="width: 30%">
                                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                    <button type="button" class="btn btn-warning"><i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End: Data Table -->
                </div>
            </div>
        </div>
    </div>
    <!-- End: Lista Productos Canito -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../assets/js/Card-Carousel.js"></script>
