<div class="login-dark">
    <form method="post">
        <h2 class="sr-only">Category</h2>
        <h1>Category</h1><label style="font-size: 24px;">Publicly Viewable:</label>
        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Title"></div>
        <div class="form-group"><textarea class="form-control" name="description" placeholder="Description"></textarea></div><label>Thumbnail:</label>
        <div class="form-group"><input type="file" method="post"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/Animated-Pretty-Product-List-v12.js"></script>
<script src="../assets/js/Card-Carousel.js"></script>
