    <!-- Start: 1 Row 2 Columns -->
    <div style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card d-block float-none">
                        <div class="card-body">
                            <h1 class="display-1 card-title" style="font-family: Roboto, sans-serif;">404...</h1>
                            <h6 class="text-muted card-subtitle mb-2">This page couldn't be found.</h6>
                            <p class="card-text">Oops! Don't know how you got here but you need to leave...</p>
                            <p class="card-text">It's not safe, they are watching us from every angle... they probably already know you're here. They're coming!</p><a class="card-link" href="/">Return to safety!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: Footer Dark -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Start: Services -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contact Us</h3>
                        <ul></ul>
                        <div style="padding: 5px;padding-left: 0;"><span>Mobile: 07398043933</span><span class="d-block">Landline: 01323840954</span><span class="d-block">Email: ben@vyrz.dev</span></div>
                    </div>
                    <!-- End: Services -->
                    <!-- Start: About -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Location</h3>
                        <div style="padding: 5px;padding-left: 0;"><span>1200 Seymour Ave</span><span class="d-block">Gallatin Boulevard</span><span class="d-block">East Nashville TN</span><span class="d-block">37206</span></div>
                    </div>
                    <!-- End: About -->
                    <!-- Start: Footer Text -->
                    <div class="col-md-6 item text">
                        <h3>Ramshackle</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <!-- End: Footer Text -->
                    <!-- Start: Social Icons -->
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    <!-- End: Social Icons -->
                </div>
                <!-- Start: Copyright -->
                <p class="copyright">vyrz.dev © 2020</p>
                <!-- End: Copyright -->
            </div>
        </footer>
    </div>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="../assets/js/Card-Carousel.js"></script>
</body>

</html>
