{% import "navbars/navbarLoader.html" as navbar %}
{% import "footers/footerLoader.html" as footer %}

{% extends "base.html" %}

{% block content %}
    {{ navbar.navbar("main") }}
    {% if categories.count() == 0 %}
      <div><div>
    {% else %}
        <!-- Start: 2 Rows 1+3 Columns -->
        <div style="background-color: #fff;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-10" style="min-width:280px;min-height:280px;">
                                <div class="card" style="width: 100%;/*height: 100%;*/">
                                    <a href="/catalog/decor/{{ category.URLName }}">
                                        <img class="img-fluid card-img-top" style="height:200px;" src="../assets/img/mountain_bg.jpg" />
                                        <h1 class="card-name">{{ category.name }}</h1>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: 2 Rows 1+3 Columns -->
    {% endif %}
    {% if products.count() == 0 %}
      <div><div>
    {% else %}
      <!-- Start: 2 Rows 1+3 Columns -->
      <div style="background-color: #fff;">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row">
                          {% for product in products %}
                          <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-10" style="min-width:280px;min-height:280px;">
                              <div class="card" style="width: 100%;/*height: 100%;*/">
                                  <a href="/product/{{  product.id }}">
                                      <img class="img-fluid card-img-top" style="height:200px;" src="../assets/img/mountain_bg.jpg" />
                                      <h1 class="card-name">{{ product.name }}</h1>
                                  </a>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End: 2 Rows 1+3 Columns -->
    {% endif %}
    {{ footer.footer() }}
{% endblock %}
