{% import "navbars/navbarLoader.html" as navbar %}
{% import "footers/footerLoader.html" as footer %}

{% extends "base.html" %}

{% block content %}
    <!-- Start: Header Dark -->
    <div>
        <div class="header-dark">
            {{ navbar.navbar("transparent") }}
            <h1 class="text-center text-light" style="font-family: 'Lora';font-size: 60px;">Ramshackle</h1>
            <div class="container">
                <div class="row button-home">
                    <div class="col offset-xl-0"><a href="/catalog/decor">Decor</a></div>
                    <div class="col"><a href="/catalog/music">Music</a></div>
                    <div class="col"><a href="/catalog/events">Events</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Dark -->
    {{ footer.footer("main") }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="/static/assets/js/Card-Carousel.js"></script>
{% endblock %}
