<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ramshackle - St Leonards, Hastings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/static/assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="/static/assets/css/Article-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/Card-Carousel-1.css">
    <link rel="stylesheet" href="/static/assets/css/Card-Carousel.css">
    <link rel="stylesheet" href="/static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/static/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="/static/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="/static/assets/css/Lista-Productos-Canito.css">
    <link rel="stylesheet" href="/static/assets/css/Login-Form-Dark-1.css">
    <link rel="stylesheet" href="/static/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/assets/css/Product-Details.css">
    <link rel="stylesheet" href="/static/assets/css/Responsive-Card-Item-List.css">
    <link rel="stylesheet" href="/static/assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
